ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
Cython==0.29.21
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
mathparse==0.1.2
nltk==3.5
numpy==1.19.2
packaging==20.4
Pint==0.16.1
pymongo==3.11.0
pyparsing==2.4.7
python-dateutil==2.7.5
pytz==2020.1
PyYAML==3.13
regex==2020.9.27
six==1.15.0
SQLAlchemy==1.2.19
tqdm==4.50.0
Werkzeug==1.0.1
