body
{
	/*background: #A84136;*/
	/*#f05842*/
	background: linear-gradient(to bottom right, #db344a , #ed7f40);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-attachment: fixed;
	margin: 0;
	overflow-x: hidden;
}
.heading-text
{
	display: inline-block;
}
.heading-text h1
{
	overflow: hidden;
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: 
		typing 2.5s steps(15, end),
		blink-caret .75s step-end infinite;
	border-right: .10em solid #BFFF00;
	letter-spacing: .10em;
	color: #BFFF00;
	font-family: 'Satisfy', cursive;
	font-weight: bold;
	font-size: 6rem !important;
	text-align: center;
	text-shadow: 5px 3px 3px rgba(100, 100, 80, 1);
	filter: drop-shadow(2px 2px 10px rgba(100, 100, 80, 0.75));
	max-width: 100%;
}

#textInput
{
	
	width: 100%;
	max-width: 400px;
	text-decoration: none;
	border-radius: 15px;
	border: 3px solid #111111;
	font-family: 'Pacifico' , cursive;
	filter: drop-shadow(2px 2px 5px rgba(30,30,30,0.75));
}

#buttonInput
{
	background: linear-gradient(to bottom right, #BFFF00 , #7ac501);
	text-decoration: none;
	border-radius: 5px;
	border: 3px solid #111111;
	font-family: 'Pacifico' , cursive;
	filter: drop-shadow(2px 2px 5px rgba(30,30,30,0.75));
	transition: 0.75s cubic-bezier(0.215, 0.610, 0.355, 1);
}
#buttonInput:hover
{
	background: linear-gradient(to top left,#BFFF00 , #7ac501);
	transform: scale(1.1,1.1);
	border-radius: 15px;
}
#userInput
{

	text-align: center;
	margin-top: 100px;
	padding-bottom: 10px;
}

#chatbox
{
	/*background-color: #BFFF00;*/
	max-width: 600px;
	border-style: ridge;
	border: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	background: linear-gradient(to bottom right, #BFFF00 , #6AAA00);
	text-align: left;
	border-radius: 15px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.4),inset -5px -8px  15px rgba(255 , 255 , 255,0.5) , 5px 5px 15px rgba(0,0,0,0.6),inset -5px -5px 5px rgba(0,0,0,0.2);
}
.botText
{
	display: flex;
	align-items: center;
	animation: type 1s;
	/*overflow: hidden;*/
	background-color: #db344a;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 7px;
	padding-left: 5px;
	/* margin-right: 300px; */
	font-family: 'Satisfy', cursive;
	font-weight: bold;
	text-align: left;
	/* margin-left: 15px; */
	font-size: x-large;
	text-shadow: 2.5px 2px 3px rgba(100, 100, 80, 1);
	box-shadow: inset 5px 5px 5px rgba(30,30,30,0.1),inset -5px -8px  15px rgba(255 , 255 , 255,0.1) , 5px 5px 15px rgba(0,0,0,0.8), -5px -5px 15px rgba(255,255,255,0.2);

}
.userText
{
	display: flex;
	align-items: center;
	animation: type 1s;
	/*overflow: hidden;*/
	background-color: #db344a;
	border-radius: 20px;
    font-family: 'Satisfy', cursive;
	font-weight: bold;
	padding-left: 5px;
	/* margin-left: 300px;
	margin-right: 15px; */
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: x-large;
	box-shadow: inset 5px 5px 5px rgba(30,30,30,0.1),inset -5px -8px  15px rgba(255 , 255 , 255,0.1) , 5px 5px 15px rgba(0,0,0,0.8), -5px -5px 15px rgba(255,255,255,0.2);
	text-shadow: 2.5px 2px 3px rgba(100, 100, 80, 1);
}
.prefix-icon
{
	max-width: 24px;
	max-height: 24px;
}
@keyframes type
{
	0%
	{
		width: 0px;
		white-space: pre;
		color: rgba(0,0,0,0);
		text-shadow: 2.5px 2px 3px rgba(100, 100, 80, 0);
		overflow: hidden;
		
	}
	90%
	{
		white-space: pre;
		color: rgba(0,0,0,1);
		text-shadow: 2.5px 2px 3px rgba(100, 100, 80, 1);
		overflow: hidden;
	}
	100%
	{
		width: 100%;
		white-space: normal;
		color: rgba(0,0,0,1);
		text-shadow: 2.5px 2px 3px rgba(100, 100, 80, 1);
		overflow: visible;
		
	}

}


@keyframes heading
{
	0%
	{
		transform: translateX(-5%);
		color: rgba(191 , 255 , 0 , 0);
		text-shadow: 5px 3px 3px rgba(100, 100, 80, 0);
	}

	100%
	{
		text-align: center;
		color: #BFFF00;
		text-shadow: 5px 3px 3px rgba(100, 100, 80, 1);
	}
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
  }